.books-container {
    padding: 2.5rem;
    .stylish-name {
        font-family: 'Lato', sans-serif;
        text-align: left;
        text-shadow: 0 1px 1px #fff;
        padding: 2rem;
    }
    li{
        line-height: 1.5;
        font-family: Great Vibes;
        margin: 0 0 0 3rem;
        text-align: left;
        text-shadow: 0 1px 1px #fff;
    }
}