.projects{
    margin-left: 5rem;
    margin-right: 5rem;
    .projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .project-left,
        .project-right {
        display: flex;
        flex-direction: column;   
        .project-block {
            text-align: left;
        }
        }
    }
}