.App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  text-shadow: 0 1px 1px #fff;
  
  .dynamic-area {
    flex: 1;
  }
}

p {
  line-height: "1.5rem";
}

a{
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
